{% extends 'base.html'%}
{% block content %}

<h1>Products</h1>

{% for product in products %}

<a href="{% url 'detail' product.id %}">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ product.name }}</span>
            <p>{{ product.id }}</p>
            <p>Description: {{ product.description }}</p>
            <p>Price: {{ product.price }}</p>
            <form action="{% url 'product_delete' product.id %}" method="POST">{% csrf_token %}
                <a href="{% url 'product_delete' product.id %}"><button class="waves-effect waves-light btn">Delete</button></a>
                <input type="submit" value="Delete">
            </form>
        </div>
    </div>
</a>

{% endfor %}

{% endblock %}